<!DOCTYPE html>
<html lang="en" class="no-js">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="img/fav.png">
        <meta name="author" content="codepixer">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="UTF-8">
        <title>منصه الحري  </title>
        <link rel="icon" href="favicon.ico" type="image/x-icon"/>
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/blog-home.css" rel="stylesheet">
        <link href="/css/blog-post.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-rtl.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/magnific-popup.css">
        <link rel="stylesheet" href="/css/nice-select.css">                  
        <link rel="stylesheet" href="/css/animate.min.css">
        <link rel="stylesheet" href="/css/owl.carousel.css">
        <link rel="stylesheet" href="/css/main.css">
        
    </head>

    <body>

    {{> home/home-nav}}

    {{{body}}}

    {{> home/footer}} 

        <script src="/js/vendor/jquery-2.2.4.min.js"></script>
        <script src="/js/vendor/bootstrap.min.js"></script>          
        <script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
        <script src="/js/easing.min.js"></script>            
        <script src="/js/hoverIntent.js"></script>
        <script src="/js/superfish.min.js"></script> 
        <script src="/js/jquery.ajaxchimp.min.js"></script>
        <script src="/js/jquery.magnific-popup.min.js"></script> 
        <script src="/js/owl.carousel.min.js"></script>          
        <script src="/js/jquery.sticky.js"></script>
        <script src="/js/jquery.nice-select.min.js"></script>            
        <script src="/js/parallax.min.js"></script>      
        <script src="/js/mail-script.js"></script>   
        <script src="/js/main.js"></script>  
        <script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>

    </body>
</html>



