 <div class="full-banner">
<h2 class="text-center">اضف اعلانك</h2>
</div>

<!-- Start post Area -->
<section class="post-area section-gap">
  <div class="container">
    <div class="row justify-content-center d-flex">

      <div class="col-lg-8 post-list">

        {{#each errors}}
        <div class="alert alert-danger alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>خطا!</strong> {{this}}
        </div>
        {{/each}}

        <div class="single-post ">
          <div class="row">

            <form class="col-md-12" action="/product/create" method="post" enctype="multipart/form-data">


              <div class="row">
                <div class="form-group create-item" style="padding-bottom: 5%;width:100%">
                  <label class="control-label col-sm-3 text-center" for="title" style="padding-top: 10px;">اسم الاعلان :</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder=" اسم الاعلان " name="title">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group create-item" style="padding-bottom: 5%;width:100%">
                  <label class="control-label col-sm-3 text-center" for="title" style="padding-top: 10px;">الصوره الرئيسيه :</label>
                  <div class="col-sm-9">
                    <input type="file" class="form-control" name="images" multiple>
                  </div>
                </div>
              </div>


               <div class="row">
                <div class="form-group create-item" style="padding-bottom: 5%;width:100%">
                  <label class="control-label col-sm-3 text-center"> المدينة:</label>
                  <div class="col-sm-9">
                    <select name="city" class=" form-control">
                      {{#each cities}}
                      <option value="{{_id}}">{{name}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
              </div>

      
              <div class="row">
                <div class="form-group create-item" style="padding-bottom: 5%;width:100%">
                  <label class="control-label col-sm-3 text-center" for="title" style="padding-top: 10px;">رقم الموبايل :</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder=" ادخل رقم الجوال " name="phone">
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="form-group create-item" style="padding-bottom: 5%;width:100%">
                  <label class="control-label col-sm-3 text-center" for="title" style="padding-top: 10px;">السعر :</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder=" السعر " name="price">
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="form-group create-item" style="padding-bottom: 5%;width:100%">
                  <label class="control-label col-sm-3 text-center"> صنف اعلانك :</label>
                  <div class="col-sm-9">
                    <select name="category" class=" form-control">
                      {{#each categories}}
                      <option value="{{_id}}">{{name}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="form-group create-item" style="padding-bottom: 5%;width:100%">
                  <label class="control-label col-sm-2" for="body"> اوصف اعلانك :</label>
                  <div class="col-sm-10">
                    <textarea id="editor" type="text" class="form-control" cols="3" rows="6" placeholder="ادخل المحتوي" name="body"></textarea>
                  </div>
                </div>
              </div>
              

              <div class="form-group" style="padding-top: 5%">
                <div class="col-sm-offset-4 col-sm-8" style="margin: 5%">
                  <button type="submit" class="btn btn-green">
                    انشر الاعلان
                  </button>
                </div>
              </div>

            </form>




          </div>
        </div>

      </div>

      {{> home/sidebar}}


    </div>
  </div>

  </div>
  </div>
  </div>
</section>