



<!-- Start post Area -->
            <section class="post-area section-gap">
                <div class="container">
                    <div class="row justify-content-center d-flex">
                        <div class="col-lg-8 post-list">

                                   {{#each errors}}
                                    <div class="alert alert-danger alert-dismissible">
                                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                      <strong>خطا!</strong> {{this}}
                                    </div>  
                                    {{/each}}
                     
                        <div class="single-post ">
                          <div class="row">

                        <form  class="col-md-12"   action="/product/edit/{{product.id}}?"  method="POST">     
                          <div class="form-group" style="padding-bottom: 5%">
                            <label class="control-label col-sm-2" for="title">العنوان :</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control"  value="{{product.title}}" name="title">
                            </div>
                          </div>

                           <div class="form-group" style="padding-bottom: 5%">
                            <label class="control-label col-sm-2" for="title">االسعر :</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control"  value="{{product.price}}" name="price">
                            </div>
                          </div>

                         <div class="form-group" style="padding-bottom: 5%">
                            <label class="control-label col-sm-2" for="title">االجوال :</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control"  value="{{product.phone}}" name="phone">
                            </div>
                          </div>

                            <div class="form-group" style="padding-bottom: 5%">
                            <label class="control-label col-sm-2" for="body">المحتوي  :</label>
                            <div class="col-sm-10">
                              <textarea type="text" class="form-control" cols="20" rows="5"    name="body">{{product.body}}</textarea>
                            </div>
                          </div>


                          <div class="form-group" style="padding-bottom: 5%" > 
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" class="btn btn-primary"> تعديل الاعلان  </button>
                            </div>
                          </div>
                          
                       </form>
                                </div>
                            </div>                       
                        </div>

                           {{> home/sidebar}}
                                  
                                                                      
                                </div>
                            </div>                          
                        </div>
                    </div>
                </div>  
            </section>





