<!-- start banner Area -->
<section class="banner-area relative" id="home">

    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-12">
                <h1 class="text-white">
                    اكثر من <span>1500+</span> اعلان 
                </h1>
                <form action="/search" method="POST">
                    <div class="row justify-content-center form-wrap">
                        <div class="col-lg-4 form-cols">
                            <input type="text" class="form-control" name="searchQuery" placeholder="ماذا تبحث عن">
                        </div>
                        <div class="col-lg-3 form-cols">
                            <div class="default-select" id="default-selects">
                                <select name="city">
                                    {{#each cities}}
                                    <option value="{{_id}}">{{name}} </option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-3 form-cols">
                            <div class="default-select" id="default-selects2">
                                <select name="category">
                                    {{#each categories}}
                                    <option value="{{_id}}">{{name}} </option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 form-cols">
                            <button type="submit" class="btn btn-info">
                                <span class="lnr lnr-magnifier"></span> ابحث
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start features Area -->
<section class="features-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="single-feature">
                    <h2> الدرجه الممتاز  </h2>
                    <p>وهي الوبرة القصيرة الكثيفه المتراصه والمبرومه على شكل نصف دائرة ويكون لونها مابين الأصفر إلى البني ويغلب عليها التجانس كأنها مقصوصة.
                    </p>

                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-feature">
                    <h2> الدرجه الجيدة جداً</h2>
                    <p>
                      وهي الوبرة المتوسطة الطول والكثيفة والمتراصة وتكون مبرومة أيضاً وتتصف بنفس اللون الأصفر المائل إلى البني ويسميها البعض بالحرشاء .
                   </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-feature">
                    <h2> الدرجة الجيدة</h2>
                    <p>
                     وهي نفس المواصفات من حيث القوام والكثافة واللون إلا أنها تكون طويلة ومتشابكة وقد يسميها البعض باللبداء
                     <br/>
                     <br/>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End features Area -->



<!-- Start feature-cat Area -->
<section class="feature-cat-area pt-100" id="category">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">الاقسام </h1>
                    <p class="under-title"> انواع الحري  </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-fcat"> 
                        <img src="img/sheep.png" alt="">                    
                    <p> الحره  </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-fcat">
                        <img src="img/goat.png" alt="">
                    <p> دعديه </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-fcat">
                        <img src="img/sheep.png" alt="">
                    <p> الساحل  </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-fcat">
                        <img src="img/goat.png" alt="">
                    <p> الحش  </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End feature-cat Area -->

<!-- Start post Area -->
<section class="post-area section-gap">
    <div class="container">
        <div class="row justify-content-center d-flex">
            <div class="col-lg-8  col-xs-12 post-list">
                {{#each products}}
                <div class=" single-post-home flex-row d-flex " >
                <div class="card">
                    <div class="row">
                        <div class="col-md-4" >
                         <img class="card-img-top" src="/uploads/{{images.[0]}}" alt="Card image cap">    
                        </div>
                        <div class="col-md-6   card-title-mobile">
                             <a href="/single/{{id}}"><h2 class="card-title">{{title}}</h2></a> 
                             <p class="card-text" id="testt">{{body}}</p>                                 
                        </div>
                        <div class="col-md-2   card-price-mobile">
                           <a href="/single/{{id}}" class="btn btn-price-btn">{{price}} ر.س  </a> 
                        </div>
                    </div>
                <div class="card-footer text-muted ">
                    <ul>
                        <li> <ion-icon name="locate" class="green"></ion-icon> {{city.name}}</li>
                        <li> <p>
                                <ion-icon class="green" name="phone-portrait"></ion-icon> {{phone}}
                            </p>
                        </li>
                        <li><ion-icon name="time" class="green"></ion-icon> {{GenerateTime date 'MMMM Do YYYY'}}</li>
                    </ul>
                </div>
              </div>
      </div>
   {{/each}}
                   <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
            {{#paginate current=current pages=pages}}{{/paginate}}
           </ul>
        </div>
    {{> home/sidebar}}
    </div>
   </div>
  </div>
 </div>
</div>
</section>
<!-- End post Area -->


