<div class="card card-login mx-auto mt-5" style="width:60%">
    <div class="card-header text-center">
        <h3>الدخول </h3>
    </div>
    <br/> 

    {{#if success_message}}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>تم بنجاح !</strong> {{success_message}}
    </div>
    {{/if}}
    
    <br/>

    <div class="card-body">
        <form action="/login" method="post">

            {{#if error_message}}
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong> خطا!</strong> {{error_message}}
            </div>
            {{/if}} 
            
            {{#each errors}}
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>خطا!</strong> {{this}}
            </div>
            {{/each}}


            <div class="form-group">
                <label for="exampleInputEmail1">الايميل</label>
                <input name="email" class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="ادخل ايميلك">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">كلمه المرور</label>
                <input name="password" class="form-control" id="exampleInputPassword1" type="password" placeholder="كلمه المرور">
            </div>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="rememberMe" type="checkbox">
                        <span style="padding-right: 23px;">
                             تذكر كلمه المرور 
                        </span>
                    </label>
                </div>
            </div>

            <div style="height:40px"></div>
            <button type="submit" class="btn btn-primary btn-block">الدخول </button>
        </form>
        <div class="text-center">
            <a class="d-block small mt-3" href="/register">انشاء حساب جديد </a>
            <a class="d-block small" href="/">الصفحه الرئيسيه </a>
        </div>
    </div>
</div>