<div class="full-banner">
<div class="overlay overlay-bg "></div>
<h2 class="text-center"> تفاصيل المنتج  </h2>
</div>


<!-- Start post Area -->
<section class="post-area section-gap">
    <div class="container">
        <div class="row justify-content-center d-flex">
            <div class="col-lg-8 post-list">
                <div class="single-post flex-row d-flex ">
                <div class="card">
                    <img class="card-img-top" src="/uploads/{{product.images.[0]}}" style="height:300px;" >
                    <div class="card-body">
                          <h2 class="card-title">{{product.title}}</h2>
                          <p  id="testt">{{product.body}}</p> 
                         
                          <a href="/single/{{id}}" class="btn btn-price-btn">{{product.price}} ر.س</a>
                    </div>
                    <div class="card-footer text-muted">
                     <ul>
                        <li> <p>
                                <ion-icon class="green" name="phone-portrait"></ion-icon> {{product.phone}}
                            </p>
                        </li>
                        <li><ion-icon name="time" class="green"></ion-icon> {{GenerateTime date 'MMMM Do YYYY'}}</li>
                    </ul>
                    </div>
                 </div>
              </div>

             {{# each product.images}}
               <img src="/uploads/{{this}}"  class="zoom" style="width:363px;height:200px">                                              
             {{/each}}                                                                            

 <!-- Comments Form -->
         {{# if user}}
                <div class="card my-4 col-xs-12" >
                    <h5 class="card-header">سجل تعليقك :</h5>
                    <div class="card-body">
                        <form action="/home/comment" method="post" >
                            <div class="form-group">
                                <input type="hidden" id="productId" value="{{product._id}}" name="productId">
                                <textarea name="body" class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">اضف تعليق </button>
                        </form>
                    </div>
                </div>
                {{else}} 
                    <p style="margin-top: 30px;">
                يجب تسجيل الدخول لاضافه تعليق  <a href="/login">دخول </a>
                    </p>

                <br>
                <hr> {{/if}} 
                
                {{#each comments}}

                <!-- Single Comment -->
                <div >
                    
                    <div class="media-body col-md-12 col-xs-12" style="text-align: right">
                       <img style="height: 40px;width: 70px;" class="d-flex col-md-1 rounded-circle" src="/img/xx.png" alt=""> <p class="mt-0">{{user.firstName}}  {{  user.lastName }}</p>
                        <h5>{{body}}</h5>
                        <p class="date">{{GenerateTime createdAt 'MMMM Do YYYY'}}</hp>
                    </div>
                </div>
                <br>

                {{/each}}
           </div>
    {{> home/sidebar}}
    </div>
   </div>
  </div>
 </div>
</div>
</section>

