
<section class="col-md-11">
<br/>
<h3 class="text-center"> انشئ  منتج جديد  </h3>
<br/>

 
<form  action="/admin/products/create" method="post"  enctype="multipart/form-data"> 
  {{#each errors}}
  <div class="alert alert-danger alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>خطا!</strong> {{this}}
  </div>
  {{/each}}


  <div class="form-group create-item" style="padding-bottom: 5%">
    <label class="control-label col-sm-2" for="title"> اسم المنتج  :</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"  placeholder=" ادخل العنوان " name="title">
    </div>
  </div>


  <div class="form-group " style="padding-bottom: 5%" >
    <label class="control-label col-sm-2" for="images"> الصوره الرئيسيه :</label>
    <div class="col-sm-10">
      <input type="file" class="form-control"  name="images" multiple>
    </div>
  </div>


<div class="form-group" style="padding-bottom: 5%">
  <label class="control-label col-sm-2" for="phone">الجوال  :</label>
  <div class="col-sm-10">
    <input type="text" class="form-control"  placeholder=" ادخل رقم الجوال " name="phone">
  </div>
</div>


  <div class="form-group" style="padding-bottom: 5%">
    <label class="control-label col-sm-2" for="phone">السعر :</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  placeholder=" السعر " name="price">
      </div>
  </div>



   <div class="form-group" style="padding-bottom: 5%">
  <label class="control-label col-sm-2"> العنوان :</label>
  <select  name="city"  class=" form-control col-sm-10" style="width:81%;margin-right: 1%">
<!--   {{# select post.category}} -->
    {{# each cities}}
    {{name}}
    <option value="{{id}}">{{name}}</option>
    {{/each}}
<!--  {{/select}} -->
  </select>
</div>


  <div class="form-group" style="padding-bottom: 5%">
  <label class="control-label col-sm-2"> الاقسام  :</label>
  <select  name="category"  class=" form-control col-sm-10" style="width:81%;margin-right: 1%">
<!--   {{# select post.category}} -->
    {{# each categories}}
    {{name}}
    <option value="{{id}}">{{name}}</option>
    {{/each}}
<!--  {{/select}} -->
  </select>
</div>


<div class="form-group create-item" style="padding-bottom: 5%">
  <label class="control-label col-sm-2" for="body"> المحتوي  :</label>
  <div class="col-sm-10">
    <textarea id="editor" type="text" class="form-control" cols="30" rows="10"   placeholder="ادخل المحتوي" name="body"></textarea>
  </div>
</div>

  <div class="form-group" style="padding-top: 5%"> 
    <div class="col-sm-offset-4 col-sm-8" style="margin: 5%">
      <button type="submit" class="btn btn-primary">انشاء منتج جديد</button>
    </div>
  </div>
  
</form>

</section>

