<section class="col-md-11">
<br/>
<h3 class="text-center"> تعديل المنتجات  </h3>
<br/>

<form action="/admin/products/edit/{{product.id}}" method="POST">
    {{#each errors}}
  <div class="alert alert-danger alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>خطا!</strong> {{this}}
  </div>
  {{/each}}
   
  <div class="form-group" style="padding-bottom: 5%">
    <label class="control-label col-sm-2" for="title">العنوان :</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"  value="{{product.title}}" name="title">
    </div>
  </div>

  <div class="form-group" style="padding-bottom: 5%">
    <label class="control-label col-sm-2" for="title">االسعر :</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"  value="{{product.price}}" name="price">
    </div>
  </div>
  

 <div class="form-group" style="padding-bottom: 5%">
    <label class="control-label col-sm-2" for="title">االجوال :</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"  value="{{product.phone}}" name="phone">
    </div>
  </div>



  <div class="form-group" style="padding-bottom: 5%">
    <label class="control-label col-sm-2" for="body">المحتوي  :</label>
    <div class="col-sm-10">
      <textarea type="text" class="form-control" cols="20" rows="5"    name="body">{{product.body}}</textarea>
    </div>
  </div>


  <div class="form-group" style="padding-bottom: 5%" > 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">تعديل المنتج </button>
    </div>
  </div>
  
</form>
</section>